<nav class="sidenav" [clr-nav-level]="1">
  <h3>&nbsp; Categories</h3>
  <section class="sidenav-content" *ngFor="let category of categories">
    <section class="nav-group collapsible">
      <input id="{{category.name}}" type="checkbox">
      <label for="{{category.name}}">{{category.name}}</label>
      <ul class="nav-list">
        <li *ngFor="let child of category.subcategories">
          <a class="nav-link" (click)=getCategoryItem($event)>{{child}}</a>
        </li>
      </ul>
    </section>
  </section>
</nav>
<!-- <clr-vertical-nav [clrVerticalNavCollapsible]="true"  >
 <section *ngFor="let category of categories">
   <clr-vertical-nav-group>
     {{category.name}}
     <clr-vertical-nav-group-children *ngFor="let child of category.subcategories">
       <a clrVerticalNavLink (click)="getCategoryItem($event)">{{child}}</a>
      </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>
  </section>
</clr-vertical-nav> -->
